* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    background-color: skyblue;
    height: auto;
    width: auto;
}

.slogan .natureza {
    filter: blur(3px);
    width: 100%;
}

.slogan h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 3rem;
    top: 11rem;
    left: 16rem;
}

.slogan p {
    position: absolute;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 28rem;
    right: 30rem;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.listaCabecalho {
    display: flex;
    align-items: center;
    gap: 14rem;
}

.listaCabecalho li {
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.listaCabecalho a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: black;
}

.defaultLogo {
    position: absolute;
    top: 20rem;
    width: 20rem;
    height: 20rem;
    margin: 5rem;
    background-color: white;
    border-radius: 1rem;
}

.whatsapp {
    position: absolute;
    background-color: bisque;
    top: 38rem;
    right: 50rem;
    border-radius: 1rem;
    height: 5em;
    width: 18rem;
}

.whatsappLogo {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    left: 1rem;
}

.numero {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    left: 4.5rem;
    top: 1.9rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.depoimentos {
    display: flex;
    background-color: skyblue;
    width: 100%;
    height: 700px;
}

.depoimentos h1 {
    display: flex;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-top: 2rem;
}

.depoimentos img {
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    margin: 2rem;
}

.feedbacks {
    display: flex;
    background-color: white;
    border-radius: 2rem;
    width: 120rem;
    height: 33rem;
    margin-top: 9rem;
    margin-right: 8rem;
    justify-content: start;
    align-items: center;
}

.gridDepoimentos {
    display: flex;
    margin: 1rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.gridDepoimentos h3 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.mateus img {
    position: absolute;
    top: 84rem;
    left: 38rem;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}

.mateus h3 {
    position: absolute;
    left: 47rem;
    top: 87rem;
}

.mateus p {
    position: absolute;
    left: 47rem;
    top: 88.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.lucas img {
    position: absolute;
    top: 94rem;
    left: 38rem;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}

.lucas h3 {
    position: absolute;
    left: 47rem;
    top: 97rem;
}

.lucas p {
    position: absolute;
    left: 47rem;
    top: 98.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.caua img {
    position: absolute;
    top: 74rem;
    left: 38rem;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}

.caua h3 {
    position: absolute;
    left: 47rem;
    top: 77rem;
}

.caua p {
    position: absolute;
    left: 47rem;
    top: 78.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

